.sidebar {
    background: #fff;
    position: relative;
    text-align: center;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.sidebar li {
    float: left;
}

.sidebar li a {
    display: block;
    margin: 15px;
    text-align: center;
    border-radius: 3px;
    color: #3c4858;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 15px;
    text-decoration: none;
}

.sidebar .nav p {
    text-align: center;
    margin: 15px;
    line-height: 10px;
    font-size: 15px;
    display: block;
    height: auto;
    white-space: nowrap;
}

.sidebar li.active {
    background-color: #3280be;
    margin: 0 15px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

.sidebar li.active a {
    color: #fff;
}

.sidebar .logo {
    text-align: left;
    z-index: 4;
}

.background-image {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: 0 -300px;
    background-attachment: fixed;
    height: 70vh;
    position: relative;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.background-image .container {
    text-align: center;
    height: 100%;
}

.background-image .container h1 {
    position: relative;
    top: 50%;
    font-size: 70px;
    font-weight: bold;
    color: #eee;
    text-shadow: 5px 5px 10px #585757;
}

.header {
    padding: 25px;
    margin-top: 10px;
}

.container h1 {
    color: #db7005;
}

.cardcol {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.card .cardboxheader {
    margin: 0 15px;
    padding: 0;
    position: relative;
}

.card .cardheader {
    color: #fff;
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(40, 126, 196, 0.4);
    background: linear-gradient(60deg, #db7005, #db7005);
    position: relative;
}

.card .cardbody {
    padding: .9375rem 20px;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    padding: 20px;
}

.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart-total {
    float: right;
}

.shopping-cart-items {
    padding-top: 20px;
}

.shopping-cart-items li {
    margin-bottom: 18px;
}

.shopping-cart-items img {
    float: left;
    margin-right: 12px;
}

.shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart-items .item-price {
    color: gray;
    margin-right: 8px;
}

.shopping-cart-items .item-quantity {
    color: gray;
}

.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button {
    background: gray;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}