<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Pizza Delivery{% endblock title%}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/grid-reset.css'%}">
</head>

<body>

    <nav class="navigation">
        <div class="nav-logo">Pizza</div>
        <ul class="nav-menu">
            <li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><a href="/">Home</a></li>
            <li class="{% if request.resolver_match.url_name == 'orderlist' %}active{% endif %}"><a
                    href="/orderlist">Orders</a></li>
            <li class="{% if request.resolver_match.url_name == 'cartcheckout' %}active{% endif %}"><a
                    href="/checkout">Checkout</a></li>
            {% if request.user.is_authenticated %}
            <li class="{% if request.resolver_match.url_name == 'history' %}active{% endif %}"><a
                    href="/history">History</a></li>
            {% endif %}
            {% if not request.user.is_authenticated %}
            <li class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}"><a href="/login">Login</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'register' %}active{% endif %}"><a
                    href="/register">Register</a></li>
            {% endif %}
        </ul>
        <div class="cartbutt"><a id="cart" href="#" class="cartbutton">Shopping Cart</a></div>
        <div class="nav-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
    </nav>
    <div class="nav-overlay"></div>
    <div class="shopping-cart">
        <div class="shopping-cart-header">
            <span class="badge">Added Pizzas</span>
            <div class="shopping-cart-total">
                <span class="lighter-text">Total:</span>
                <span id="totalcost" class="main-color-text">0</span>
            </div>
        </div>
        <ul id="playlist" class="shopping-cart-items">

        </ul>
        <button type="button" class="button" onclick="clearCart()">Clear Cart</button><a href="/checkout"
            class="button">Checkout</a>
    </div>

    <div class="background-image">
        <div class="container">
            <h1>Choose and taste to your place.</h1>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <h1>
                {% block mainheader %}Main Header{% endblock mainheader%}
            </h1>
        </div>
        {% block content %}{% endblock content%}
    </div>
    <div class="messages" id="message">
        <span id="messages" class="main-color-text">Please Select a Pizza and add it to the cart</span>
    </div>
    {% block script %}{% endblock script%}
    <script src="{% static 'js/jquery.js'%}"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
        var delivey = '{{delivery_charge}}';
        var rate = '{{euro_rate}}'
        $(document).ready(function () {
            $(".shopping-cart").hide();
            cartRender();
        });
        $("#cart").on("click", function () {
            $(".shopping-cart").fadeToggle("fast");
            cartRender();
        });
        $('.nav-toggle').click(function (e) {
            e.preventDefault();
            $('.nav-toggle').toggleClass('active');
            $('.nav-menu').toggleClass('active');
            $('.nav-overlay').toggleClass('active');
        })

        function updateCart(id) {
            var amount = document.getElementById("update" + id).value;
            $.ajax({
                type: 'POST',
                url: "/updatecartsession",
                data: {
                    'id': id,
                    'amount': amount
                },
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    console.log(data)
                    $('#messages').text(data);
                    cartRender();
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }

        function cartRender() {
            $('#playlist').empty();
            var result = "";
            $.ajax({
                type: 'GET',
                url: "/gettotalcost",
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    console.log(data)
                    $('#totalcost').text(data['total_cost']);
                    $.each(data['cart'], function (key, value) {
                        if (value.amount != 0) {
                            result += "<li>" + value.name + ": <input class='amount' type='number' id='update" + value.id + "' value='" + value.amount + "' min='0' onKeyDown='return false' onchange='updateCart(" + value.id + ")'> </li>";
                        }
                    });
                    $('#playlist').append(result);
                    if (document.getElementById("totalpizzacost")) {
                        $('#totalpizzacost').text(data['total_cost']);
                        $('#totalordercost').text(parseFloat(data['total_cost']) + parseFloat(delivey));
                        $('#totalordercostdolar').text(((parseFloat(data['total_cost']) + parseFloat(delivey)) * rate).toFixed(2));
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }

        function clearCart() {
            $.ajax({
                type: 'DELETE',
                url: "/clearcart",

                headers: {
                    "X-CSRFToken": csrftoken
                },
                success: function (data) {
                    console.log(data)
                    $('#messages').text(data);
                    cartRender();
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }
    </script>

</body>

</html>