{% extends "base.html" %}
{% block mainheader %}Main Header{% endblock mainheader%}
{% block content %}

<div class="row">
  {% for cartlist in carts %}
    {{cartlist}}
  {% endfor %}
</div>

{% endblock content %}

{% block script %}
{% load static %}
<script src="{% static 'js/jquery.js'%}"></script>
<script>
  var csrftoken = '{{ csrf_token }}';
  function addToCart(id) {
    var amount = document.getElementById(id).value;
    $.ajax({
      type: 'POST',
      url: "/update_session",
      data: { 'id': id, 'amount': amount },
      headers: { "X-CSRFToken": csrftoken },
      success: function (data) {
        console.log(data)
        document.getElementById("message").value = data;
      },
      error: function (error) {
        console.log(error)
      }
    });
  }

</script>
{% endblock script %}