{% extends "base.html" %} {% block mainheader %}Your Orders history{% endblock mainheader%} {% block content %}

{% for order in data %}
<div class="cardcol">
    <div class="card">
        <div class="cardboxheader cardheader">Order {{forloop.counter}}</div>
        <div class="cardbody">
            <div class="row">
                <div class="col-md-6">
                    <div class="title"> Your Order </div>
                    {%for pizza in order.pizzas%}
                    <ul>
                        <li>{{pizza.name}}</li>
                        <li>Amount : 1 </li>
                        <li>Price: {{pizza.price}}</li>
                    </ul>
                    <hr>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <div class="title"> Personal Information </div>
                    <p><label> Person name : {{order.person_name}}</label></p><br>
                    <p><label> Location : {{order.location}}</label></p><br>
                    <p><label> Price : {{order.price}} {{order.currency}}</label></p><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %} 