{% extends "base.html" %} {% block mainheader %}Our Menu{% endblock mainheader%} {% block content %}

<div class="row">
    {% for pizza in pizzas %}
    <div class="col-md-6">
        <div class="cardcol">
            <div class="card">
                <div class="cardboxheader cardheader">{{ pizza.name }}</div>
                <div class="cardbody">
                    <img src="/media/{{ pizza.image }}" class="pizzaimage" />
                    <div class="description">
                        {{pizza.description}}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label><strong> Price: {{pizza.price}} € </strong></label></br>
                            <label>Quantity: </label>
                            <input class="amount" type="number" id="{{pizza.id}}" value="1" min="1" onKeyDown="return false">
                        </div>
                        <div class="col-md-6">
                            <button class="buttonstyle" onclick="addToCart('{{ pizza.id}}')" value="">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %} {% block script %} 
<script>
    var csrftoken = '{{ csrf_token }}';

    function addToCart(id) {
        $(".shopping-cart").hide();
        var amount = document.getElementById(id).value;

        $.ajax({
            type: 'POST',
            url: "/addtocartsession",
            data: {
                'id': id,
                'amount': amount
            },
            headers: {
                "X-CSRFToken": csrftoken
            },
            success: function(data) {
                console.log(data)
                $('#messages').text(data);
            },
            error: function(error) {
                console.log(error)
            }
        });
    }
</script>
{% endblock script %}