{% extends "base.html" %}
{% block mainheader %}Main Header{% endblock mainheader%}
{% block content %}

<div class="row">
  {% for pizza in pizzas %}
  <div class="col-md-4">
    <div class="cardcol">
      <div class="card">
        <div class="cardboxheader cardheader">test</div>
        <div class="cardbody">
          {{ pizza.name }}
          <input type="number" id="{{pizza.id}}" value="1" min="1" onKeyDown="return false">
          <button onclick="addToCart('{{ pizza.id}}')" value="">asdasd</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}

{% block script %}
{% load static %}
<script src="{% static 'js/jquery.js'%}"></script>
<script>
   var csrftoken = '{{ csrf_token }}';
  function addToCart(id) {
    var amount = document.getElementById(id).value;
    $.ajax({
      type: 'POST',
      url: "/update_session",
      data: {'id': id, 'amount': amount},
      context: this,
      headers: { "X-CSRFToken": csrftoken },
      success: function (data) {
        

        console.log(data)
        document.getElementById("message").value = data;
        
      },
      error: function (error) {
        console.log(error)

      }
    });
  }

</script>
{% endblock script %}