{% extends "base.html" %} {% block mainheader %}Main Header{% endblock mainheader%} {% block content %}

<div class="row">

    <div class="col-md-4">
        <div class="cardcol">
            <div class="card">
                <div class="cardboxheader cardheader">Order</div>
                <div class="cardbody">
                    {% for list in session_orders %} {% for pizza in list.pizza_list %} {{pizza}} {% endfor %} {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %} {% block script %} {% load static %}
<script src="{% static 'js/jquery.js'%}"></script>
<script>
</script>
{% endblock script %}