{% extends "base.html" %} {% block mainheader %}Creating Account{% endblock mainheader%} {% block content %}



<div class="container">
    <div class="card">
        <card-header text="Create a new account"></card-header>
        <div class="cardbody">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">create</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}